<section id="section1" class="banner">
    <div class="banner-info">
        <h1 class="b-text">Check out my most favourite things below!</h1>
    </div>
</section>
{{!-- <section id="section2" class="panel">panel 2</section> --}}
<section id="section3" class="panel">
    <h1 class="user-panel-heading">
        These are my 3 favourite things!
    </h1>

    <p>
        Hi my name is Adam Goarley! There are alot of things I love but here are a few of my favourite!
    </p>

    <div class="team">
        {{#each people}}
            <div class="user-panel">
                <img class="u-image" src="images/{{image}}" alt="image">



                <h1>{{Name}}</h1>
                <h3>{{JobTitle }}</h3>
                
                <a class="u-link" href="{{ Name }}">
                    See More Info
                </a>

            </div>
        {{/each}}


    </div>
    </div>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="sidebar">
            <img src="" alt="larger bio image">
        </div>

        <div class="lb-content">

        </div>
    </section>
</section>