<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <div id="header">
    <img src="images/logo.svg" height="200px" alt="adam goarley logo">
    {{!-- <nav data-module="nav" class="nav-head">
        <!-- nav elements must have nav-item -->
        <ul>
            <li><a href="#" class="nav-item">Home</a></li>
            <li><a href="/2" class="nav-item">About</a></li>
            <li><a href="#section3" class="nav-item">Contact</a></li>
        </ul>
    </nav> --}}

    </div>


    <main>
        {{{ body }}}
    </main>

    <footer>
        <p>Thanks for stopping by and checking out some of my favourite things!</p>

        {{!-- <ul>
            <li><a href="#" class="nav-item">Home</a></li>
            <li><a href="/2" class="nav-item">About</a></li>
            <li><a href="#section3" class="nav-item">Contact</a></li>
        </ul> --}}
    </footer>

    <a id="to-top" href="#" class="nav-item">back to top</a>

    <script type="module" src="js/main.js"></script>
    <script>
        var name = "Justin";

        console.log('name in main file: ' + name);
    </script>

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-avatar"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>
    <!-- end templates-->
</body>

</html>